.heroBox {
    background-size: cover;
    justify-content: center;
    background-position-y: 32%;
    background-image: url('../assets/images/pexels-daria-liudnaya-8187685.jpg')
}

.midImg {
    background-size: cover;
    justify-content: center;
    background-position-y: 32%;
    background-image: url('../assets/images/pexels-roman-odintsov-6193699.jpg')
}

.heroTag, .story {
    max-width: 500px;
    text-align: center;
}

.heroTag > h2, .heroTag > p {
    color: var(--mui-palette-primary-white);
}

.heroTag > h2, .story > h2 {
    text-transform: uppercase;
}