.iconButton {
    padding: 0;
    background-color: transparent;
}

.bookNow {
    text-transform: uppercase;
    border-radius: var(--spacing-half);
    font-family: var(--typography-face);
    color: var(--mui-palette-primary-white);
    font-size: var(--typography-size-caption);
    font-weight: var(--typography-weight-bold);
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--mui-palette-primary-green);
}

.bookNow:hover {
    color: var(--mui-palette-primary-white);
}