.inputBox {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.input {
    padding: 8px;
    border-radius: 8px;
    border: 1px dotted var(--mui-palette-primary-darkGrey);
    font-size: 20px;
    color: var(--mui-palette-primary-pink);
    caret-color: deeppink;
}

.inputP {
    color: darkred;
    font-size: 10px;
}