.modal {
    top: 50%;
    left: 50%;
    width: 500px;
    boxShadow: 24;
    max-height: 80vh;
    overflow: scroll;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:600px) {

    .modal {
        width: 325px;
    }
}