.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    color: var(--mui-palette-primary-white);
}

.logo:hover {
    color: var(--mui-palette-primary-white);
}

.navbar {
    background-color: var(--mui-palette-primary-pink);
}